*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Inter', sans-serif;
    color: black;
}

#header-div{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    border: 1px solid black;
    padding: 8px 24px;
}

#header-logo{
    height: 75px;
}

#nav-bar{
    display: flex;
    justify-content: space-around;
    padding: auto;
}

#nav-bar>a{
    font-size: 24px;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 0px 8px;
    padding: 0px 16px;
}

#nav-bar>a:hover{
   
    border: 1px solid black;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}