/* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif; /*requried internet to use Inter font*/
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#selected-mobile-div {
  color: white;
}

#mobile-div {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-bottom: 1px solid black;
  align-items: center;
}

#header-logo {
  height: 55px;
}

#header-div {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 4px 10px;
}

#nav-bar {
  display: flex;
  justify-content: space-around;

}

#nav-bar > a {
  font-size: 16px;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 0px 6px;
  padding: 0px 12px;
  color: #818181;
}

#nav-bar #selected-nav {
  color: black;
}

#nav-bar > a:hover {
  color: black;
}

#welcome-img {
  position: relative;
  width: 100%;
  height: 250px;
}

#welcome-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#welcome-img > p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

#gallery {
  padding: 32px 0px;
}

.gallery-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.gallery-div {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 24px;
}

.gallery-img-link {
  text-decoration: none;
  color: black;
}

.gallery-img-div {
  width: 310px;
  /* border:1px solid black; */
  /* background-color: gainsboro;
  border-radius: 0px 0px 20px 20px; */
  margin: 8px;
  border: 1px solid #818181;
  border-radius: 3px;
}

.gallery-img-div > p {
  padding: 8px 0px 8px 12px;
}

.gallery-img {
  padding: 12px;
  width: 100%;
  height: 200px;
}

.gallery-img-link:active {
  color: black;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
}


#contact-us {
  width: 45%;
}

#follow-us {
  width: 20%;
}

#main-footer {
  width: 35%;
  padding-top: 8px;
}

#contact-us,
#follow-us {
  background-color: #32213a;
}

#main-footer {
  background-color: #383b53;
} 

.footer-svg {
  width: 25px;
  height: 25px;
  display: inline;
  margin: 24px;
}

#facebook-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
  pointer-events: none;
}

#follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

#facebook-svg-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#follow-us-div-p {
  display: inline-block;
  text-decoration: underline;
  text-align: center;
}

#follow-us-div > a {
  color: white;
}

#follow-us > p {
  width: 100%;
}

#footer-img-div{
  display: flex;
  justify-content: center;
}

#footer-img {
  width: 200px;
  height: 200px;
}

#contact-us-div {
  padding: 24px 16px;
}

.contact-us-content-div {
  display: flex;
  align-items: center;
}

.contact-us-content-div > p {
  display: inline;
}

.footer-nav{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-nav:hover{
  color: skyblue;
}

.footer-nav-a{
  text-decoration: none;
  color: white;
}

#footer-nav-div {
  display: flex;
  justify-content: center;
  margin: 16px 8px;
  
}

.footer-nav {
  display: inline-block;
  margin: 0px 16px;
  font-size: 20px;
  text-align: center;
}

.nav-divider {
  height: 20px;
  width: 1px;
  display: inline-block;
  color: white;
  background-color: white;
  margin-top: 2px;
}

#copyright-p {
  font-size: 14px;
  text-align: right;
  padding-bottom: 4px;
  margin-right: 4px;
}
/* normal phones size */
@media screen and (max-width: 480px) {
  #header-div {
    display: none;
  }

  .gallery-img {
    width: 310px;
  }

  footer{
    display: block;
  }

  #contact-us{
    width: 100%;
  }

  #follow-us{
    width: 100%;
    padding-bottom: 24px;
  }

  #main-footer{
    width: 100%;
  }

  #contact-us-div {
    padding: 16px 8px;
  }

  #facebook-svg {
    width: 50px;
    height: 50px;
  }
  
  #footer-img {
    width: 150px;
    height: 150px;
  }

  .footer-nav {
    font-size: 18px;
    margin: 0px 8px;
  }

  #footer-nav-div {
    margin: 24px 4px;
  }
}

/* big phones and tablets size */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .sidenav a {
    padding: 24px 8px 24px 24px;
  }

  #header-div {
    display: none;
  }

  .gallery-img-div {
    width: 450px;
  }

  .gallery-img {
    height: 250px;
  }

  #welcome-img {
    height: 300px;
  }

  #welcome-img > p {
    font-size: 22px;
  }

  footer{
    display: block;
  }

  #contact-us{
    width: 100%;
  }

  #follow-us{
    width: 100%;
    padding-bottom: 24px;
  }

  #main-footer{
    width: 100%;
  }

  #contact-us-div {
    padding: 16px 8px;
  }

  #facebook-svg {
    width: 50px;
    height: 50px;
  }
  
  #footer-img {
    width: 150px;
    height: 150px;
  }

  .footer-nav {
    font-size: 18px;
    margin: 0px 8px;
  }

  #footer-nav-div {
    margin: 24px 4px;
  }
}

/* big tablets and small laptops size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #mobile-div,
  .sidenav {
    display: none;
  }

  .gallery-div {
    grid-template-columns: auto auto;
  }

  .gallery-img-div {
    width: 300px;
  }

  #welcome-img {
    height: 350px;
  }

  #welcome-img > p {
    font-size: 24px;
  }

  .gallery-div {
    grid-template-columns: auto auto;
  }

  .gallery-img-div {
    width: 300px;
  }

  #contact-us-div {
    padding: 16px 8px;
  }

  #facebook-svg {
    width: 50px;
    height: 50px;
  }
  
  #footer-img {
    width: 150px;
    height: 150px;
  }

  .footer-nav {
    font-size: 18px;
    margin: 0px 8px;
  }

  #footer-nav-div {
    margin: 16px 4px;
  }

  #copyright-p {
    margin-bottom: 0px;
    padding-top: 8px;
  }

  #follow-us{
    width: 15%;
  }

  #main-footer{
    width: 40%;
  }

  .footer-svg{
    width: 20px;
    height: 20px;
  }

  #contact-us-div{
    padding: 24px 8px;
  }

  .contact-us-content-div > p{
    font-weight: 300;
  }

  #facebook-svg{
    width: 45px;
    height: 45px;
  }

  #follow-us-div-p{
    font-size: 14px;
  }

  .footer-nav{
    font-size: 16px;
  }

  #copyright-p{
    font-size: 12px;
  }

}

/* normal laptops and monitors size */
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #mobile-div,
  .sidenav {
    display: none;
  }

  #header-div {
    padding: 0px 24px;
  }

  #header-logo {
    height: 60px;
  }

  #nav-bar > a {
    font-size: 18px;
    padding: 0px 4px;
  }

  #welcome-img {
    height: 400px;
  }

  #welcome-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #welcome-img > p {
    font-size: 28px;
  }

  .gallery-div {
    grid-template-columns: auto auto auto;
  }

  .gallery-img-div {
    width: 300px;
  }

  #contact-us-div {
    padding: 16px 8px;
  }

  #facebook-svg {
    width: 50px;
    height: 50px;
  }
  
  #footer-img {
    width: 150px;
    height: 150px;
  }

  .footer-nav {
    font-size: 18px;
    margin: 0px 8px;
  }

  #footer-nav-div {
    margin: 24px 4px;
  }


}

/* big monitors size */
@media screen and (min-width: 1300px) {
  #mobile-div,
  .sidenav {
    display: none;
  }

  #header-div {
    padding: 4px 24px;
  }

  #header-logo {
    height: 70px;
  }

  #nav-bar > a {
    font-size: 20px;
    padding: 0px 10px;
  }

  #welcome-img {
    height: 500px;

  }

  #welcome-img > p {
    font-size: 36px;
  }

  .gallery-title {
    font-size: 64px;
  }

  .gallery-div {
    grid-template-columns: auto auto auto auto;
  }

  .gallery-img-div {
    width: 300px;
  }
}
